/* src/components/Banner.module.css */

.banner-container {
  color: black; 
  background-color: #007bff; 
  padding: 1px;
  text-align: center;
  border-radius: 10px; 
  text-decoration: none;
}

.banner-heading {
  font-size: 60px;
  font-family: 'Tangerine', cursive;
}

.banner-text {
  font-size: 40px;
  font-family: 'Tangerine', cursive;
  text-decoration: none;
}