/* src/components/DownloadButton.module.css */

.download-button {
    padding: 10px 20px;
    margin-top: 5%;
    background-color: #e63df5;
    color: #8ADDCE;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    font-family: 'BroadwayD';
    font-size: 15px;
}