/* LinkBar.module.css */
.link-bar {
    background-color: white; /* Change the background color to blue */
    padding: 10px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 20%;
    height: 60px;

  }
  
  .link-ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center; /* Center the links horizontally */
  }
  
  .link-item {
    background-color: white; /* Change the background color to blue */
    padding: 5px 10px;
    border-radius: 10px;
    margin: 0 10px;
    position: relative; /* Add positioning to create the line effect */
  }
  
  /* Make the lines between the links twice as thick and give them rounded edges */
  .link-item::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -15px; /* Adjust the position of the line */
    height: 100%; /* Make the line twice as thick */
    border-left: 4px solid black; /* Make the line twice as thick */
    border-radius: 2px; /* Add rounded edges to the line */
    transform: translateY(-50%); /* Center the line vertically */
  }
  
  /* Remove the line from the last link */
  .link-item:last-child::after {
    display: none;
  }
  
  /* class used within button components */
.link-item img {
    max-width: 100%;
    max-height: 100%;
  }

