/* src/components/LinkCollector.module.css */

.lc-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    height: 100vh;
    background-color: lightgray;
    border-radius: 10px;
  }
  
  .input-container {
    margin-top: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
  }
  
  .input-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px; 
    outline: none;
    text-align: center;
  }
  
  .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    margin-top: 20px; 
  }
  
  .archive-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
  }
  
  