/* PortfolioButton.module.css */
.portfolio-text {
    color: black; /* Set text color to white */
    text-decoration: none !important; /* Remove text decoration (underline) */
    display: flex;
    align-items: center; /* Center vertically within the navbar */
    height: 100%;
  }
  
  .portfolio-text:hover {
    text-decoration: none !important; /* Remove text decoration on hover */
  }